{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Continued Study {% endblock %}</h1>
    <hr style="width:50%;text-align:left;border-width: 2px;margin-left:0"> 
    <body>
        <p style="padding-top: 30px; font-size: 25px;"> 
        1. Data collection
            size of finacial and tweets
            time period
            more than twitter

        2. 

        3. Model optimization
            Hyperparameter tuning
         </p>
    </body>
    <body>
        <style>
            p {
              padding-top: 10px;
              font-size: 17px;
              }
        
        </style>
    <p>
        aaaa
    </p> 
    </body>      

{% endblock %}
