{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} A more Human Predictor {% endblock %}</h1>
    <hr style="width:50%;text-align:left;border-width: 2px;margin-left:0"> 
    <body>
        <p style="padding-top: 30px; font-size: 25px;"> 
            Introduction
         </p>
    </body>
    <body>
        <style>
            p {
              padding-top: 10px;
              font-size: 17px;
              }
        
        </style>
    <p>
        Traditionally, financial markets have utilized machine learning models with a focus on quantitative analysis. These models seek to identify correlations between various market indicators, such as inflation and interest rates, as well as the performance of other stocks. The widespread adoption of these techniques is due to their effectiveness in generating profits through modern trading algorithms. In fact, these algorithms have become a major driving force in contemporary markets.
    </p>    
    <p>
        However, this classic approach does have its limitations. A notable example of this occurred in 2021, when GameStop's stock price experienced a surge driven by a group of retail investors collaborating on platforms such as Reddit and Twitter to buy up shares of a heavily shorted stock. This resulted in significant losses for firms that relied on quantitative algorithms which could not correct for largescale collective action as most financial metrics predicted a BounceBack in price. 
    </p>
    </body>
    <body>

    
    <img src="{{ user_image }}" alt="User Image"  width="750" height="300" style=" object-position: 0px 0;">
    </body>
    <body>
        <style>
            p {
              padding-top: 10px;
              font-size: 17px;
              }
        
        </style>
    <p>
        The focus of this project is to investigate the potential for adapting classical models to better predict humanistic trends in the market, specifically in the context of social media and widespread communication. While the scope of this project was limited to the stock of NVDA, this approach holds promise for predicting recessions or market crashes due to collective fear. This may allow for increased economic stability, lower unemployment, and an overall more inclusive economy.
    </p>
    <p>
        This course focuses on using data science to solve real-world problems, so we divided our project into three main components: data collection, data processing and analysis, and communication of results. During the data collection phase, we utilized the Twitter API to gather tweets related to NVDA and scraped various financial metrics. In the data processing and analysis phase, we employed NLP libraries to analyze the sentiment of the tweets and evaluated the performance of ML algorithms with and without sentiment data. Finally, in the communication of results phase, we built a publicly accessible website using Flask and PythonAnywhere to display our findings.
        
    </p>

    </body>      

{% endblock %}

