{% extends "base.html" %}

{% block content %}
<body>
    <h1>The Initial Models</h1>
    <hr style="width:50%;text-align:left;border-width: 2px;margin-left:0"> 
    <p style="padding-top: 10px; font-size: 17px;"> 
        To thoroughly evaluate the effectiveness of adding sentiment analysis to our analysis, we first created two models using only the financial data that we had collected. We chose to use two separate models as a precaution against potential algorithmic bias, which can occur when a model is trained on a dataset that is not representative of the population as a whole. The first model we utilized was a gradient boosted tree from the LightGBM library, which is a popular choice for machine learning tasks due to its ability to handle large datasets and its high prediction accuracy. The second model we employed was a neural network from the scikit-learn library, a type of model that is particularly well-suited to tasks involving complex patterns and relationships. By training and comparing the performance of these two models, we were able to gauge the impact of incorporating sentiment analysis in our analysis.
    </p>
    <p>(The black dashed line shows the split between the training/validation data and the test data)</p>

    <div id='chart1' class='chart'”></div>
    </body><script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
    var graphs = {{graphJSON1 | safe}};
    Plotly.plot('chart1',graphs,{});
    </script></html>
</body>


    <body>
        <p style="padding-top: 10px; font-size: 17px;"> 
            While both models were able to capture major trends in the data, they both struggled to accurately predict specific day-to-day movements. This can be observed in the graph below, which compares the mean squared error of both models. The mean squared error is a measure of how well a model is able to fit the data, with a lower error indicating a better fit. 
        </p>
    </body>
    <div id='chart3' class='chart'”></div>
    </body><script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
    var graphs = {{graphJSON3 | safe}};
    Plotly.plot('chart3',graphs,{});
    </script></html>
    <p style="padding-top: 10px; font-size: 17px;"> 
        To provide some context, the mean squared error for both models on the testing data was around 10e-6, which is effectively zero. Ideally, we would like the models to perform just as well on the testing sets as they do on the training sets. However, neither model is performing particularly well in this case. It's worth noting that the purpose of this analysis is not to create production-ready models, but rather to see how sentiment analysis impacts their performance. As such, we only need a baseline to compare against. Let's move on to the next step of the analysis.
    </p>
    <body>
    <div id='chart5' class='chart'”></div>
    </body><script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
    var graphs = {{graphJSON5 | safe}};
    Plotly.plot('chart5',graphs,{})
    </script></html>

    <body>
    <div id='chart4' class='chart'”></div>
    </body><script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
    var graphs = {{graphJSON4 | safe}};
    Plotly.plot('chart4',graphs,{});
    </script></html> 

    <p style="padding-top: 10px; font-size: 17px;"> 
        The NLP portion of this project is not yet complete, but should be soon!
    </p>

{% endblock %}